<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd	http://www.springframework.org/schema/security	http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-lazy-init="true">
	<!--<security:global-method-security secured-annotations="enabled" jsr250-annotations="enabled"/> -->
	<!-- auto-config 自动配置常用的权限控制机制 -->
	<!-- servlet-api-provision 禁止保存登录之前的请求 -->
	<!-- access-denied-page 访问未授权时的显示页面 -->
	<security:http auto-config="true" access-decision-manager-ref="accessDecisionManager" access-denied-page="/common/prompt/403.jsp">
		<security:intercept-url pattern="/" filters="none" />
		<security:intercept-url pattern="/index*" filters="none" />
		<security:intercept-url pattern="/common/**" filters="none" />
		<security:intercept-url pattern="/survey/question/maintain/preview1?c=5010107*" filters="none" />
		<security:intercept-url pattern="/survey/question/maintain/questionnairesubmit" filters="none" />
		<security:intercept-url pattern="/survey/question/maintain/submitTips" filters="none" />
		<security:intercept-url pattern="/survey/question/maintain/join*" filters="none" />
		<security:intercept-url pattern="/left*" access="ALL_USER_LEFT" />
		<security:intercept-url pattern="/main*" access="ALL_USER_MAIN" />
		<security:intercept-url pattern="/content*" access="ALL_USER_CONTENT" />
		<security:intercept-url pattern="/logout*" access="ALL_USER_EXIT" />
		<security:intercept-url pattern="/welcome" access="ALL_USER_WELCOME" />
		<!-- login-page 登录页面 -->
		<!-- default-target-url 登录成功后跳转的URL -->
		<!-- always-use-default-target 是否登录后必须访问default-target-url -->
		<!-- authentication-failure-url 登录失败后跳转的URL -->
		<security:custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor" />
		<security:form-login authentication-failure-url="/error" login-page="/index" default-target-url="/main" always-use-default-target="true" />
		<security:logout invalidate-session="true" logout-success-url="/exit" logout-url="/logout" />
		<security:remember-me key="e37f4b31-0c45-11dd-bd0b-0800200c9a66" />
		<security:session-management invalid-session-url="/exit" session-authentication-error-url="/exit">
			<security:concurrency-control error-if-maximum-exceeded="false" expired-url="/exit" max-sessions="1" />
		</security:session-management>
	</security:http>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider
			user-service-ref="userDetailsService">
			<security:password-encoder hash="md5" />
		</security:authentication-provider>
	</security:authentication-manager>
	<!-- <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased"> 
		<property name="decisionVoters"> <list> <bean class="org.springframework.security.access.vote.RoleVoter"> 
		<property name="rolePrefix" value="PMS_"/> </bean> <bean class="org.springframework.security.access.vote.AuthenticatedVoter"/> 
		</list> </property> </bean> -->
	<bean id="filterSecurityInterceptor" class="com.sw.core.security.MySecurityFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="accessDecisionManager" ref="accessDecisionManager" /><!-- 
			用于授权一个特定的操作 -->
		<property name="securityMetadataSource" ref="securityMetadataSource" />
	</bean>

	<bean id="accessDecisionManager" class="com.sw.core.security.MyAccessDecisionManager" />
	<bean id="securityMetadataSource" class="com.sw.core.security.MySecurityMetadataSource"/>
	<!-- 
	<bean id="securityMetadataSource" class="com.sw.core.security.MySecurityMetadataSource" depends-on="securityCacheInit" />
	<bean id="securityCacheInit" class="com.sw.core.security.SecurityCacheInit" init-method="init" lazy-init="false">
		<property name="commonDao" ref="commonDao" />
	</bean>
	 -->
</beans>
